<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hezhenrui.demo.mapper.test1.TblDemoMapper">
  <resultMap id="BaseResultMap" type="com.hezhenrui.demo.domain.test1.TblDemo">
    <!--@mbg.generated generated on Sat Oct 01 16:22:28 CST 2022.-->
    <!--@Table tbl_demo-->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="LONGVARCHAR" property="name" />
    <result column="age" jdbcType="LONGVARCHAR" property="age" />
    <result column="relation_id" jdbcType="INTEGER" property="relationId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sat Oct 01 16:22:28 CST 2022.-->
    id, `name`, age, relation_id
  </sql>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated generated on Sat Oct 01 16:22:28 CST 2022.-->
    insert into tbl_demo
    (id, `name`, age, relation_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.name,jdbcType=LONGVARCHAR}, #{item.age,jdbcType=LONGVARCHAR}, 
        #{item.relationId,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>