<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hezhenrui.learn17.module.consumer.mapper.test1.TblDemoMapper">
  <resultMap id="BaseResultMap" type="com.hezhenrui.learn17.module.consumer.domain.test1.TblDemo">
    <!--@mbg.generated generated on Sun Oct 02 14:41:27 CST 2022.-->
    <!--@Table test1.tbl_demo-->
    <result column="id" property="id" />
    <result column="name" property="name" />
    <result column="age" property="age" />
    <result column="relation_id" property="relationId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sun Oct 02 14:41:27 CST 2022.-->
    id, `name`, age, relation_id
  </sql>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated generated on Sun Oct 02 14:41:27 CST 2022.-->
    insert into test1.tbl_demo
    (id, `name`, age, relation_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id}, #{item.name}, #{item.age}, #{item.relationId})
    </foreach>
  </insert>
</mapper>